asgiref
attrs
autobahn
Automat
cbor2
cffi
channels
constantly
crispy-bootstrap5
cryptography
daphne
Django
django-crispy-forms
django-rest-framework
djangorestframework
hyperlink
idna
Incremental
msgpack
packaging
pillow
py-ubjson
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
service-identity
sqlparse
Twisted
txaio
typing_extensions
ujson
zope.interface
